# --- Keys ---
DATAVERSE_TOKEN=

# --- Institution ---
MY_INSTITUTION=UT Austin
INSTITUTION_FILENAME=UT-austin
INSTITUTION_SUBTREE=utexas

# --- Toggles ---
TEST_ENVIRONMENT=true
ONLY_MY_INSTITUTION=false
VERSIONS_API=false
EXCLUDE_DRAFTS=true
METRICS_DC=true
METRICS_DV=false
CURRENT_MEMBERS=false
SPLIT_INSTITUTION_OUTPUT=false