{
    "KEYS": {
        "dataverseToken": ""
    },
    "EMAIL": {
        "user_email": ""
    },
    "INSTITUTION":{
        "name": "University of Texas at Austin",
        "filename": "UT-austin",
        "uniqueIdentifier": "Austin",
        "ror": "https://ror.org/00hj54h04",
        "myInstitution": "UT Austin",
        "subtree": "utexas"
    },
    "TOGGLES":{
        "test": false,
        "metrics_dc": true,
        "metrics_dv": false,
        "only_my_institution": false,
        "current_members": false,
        "split_outputs": false,
        "exclude_drafts": true,
        "versions_api": false
    },
    "VARIABLES": {
        "PAGE_SIZES": {
            "datacite_prod": 1000,
            "datacite_test": 200,
            "dataverse_prod": 200,
            "dataverse_test": 10
        },
        "PAGE_LIMITS": {
            "dspace_test": 3,
            "dspace_prod": 100,
            "tdr_test": 3,
            "tdr_prod": 100
        },
        "PAGE_STARTS": {
            "datacite": 0,
            "dataverse": 0
        },
        "PAGE_INCREMENTS": {
            "dataverse": 1
        }
    },
    "GRAPHS":{
        "default_width": 14,
        "default_height": 7,
        "default_dpi": 300,
        "default_extension": "tiff",
        "default_title": 18,
        "default_axis_titles": 16,
        "default_axis_labels": 14,
        "default_legend": 13,
        "default_bar_labels": 13
    },
    "SCHOOL_MAPS":{
        "SCHOOL_COLORS": {
            "Baylor U": "#154734", 
            "Lamar U": "#DC0031",
            "SMU": "#354CA1",
            "TAMU": "#50000",
            "TAMIU": "#61162D",
            "TAMU Galveston": "#50000",
            "Texas State U": "#501214",
            "Texas Tech U": "#E90802",
            "UTHSCSA": "#a44900",
            "UT Austin": "#bf5700",
            "UT Southwestern": "#004c97",
            "U Houston": "#C8102E",
            "UNT-HSC": "#00778b",
            "Other affiliation": "#808080",
            "No affiliation": "#4D4141"
        },
        "SCHOOL_NAMES": {
            "baylor": "Baylor U",
            "Baylor University": "Baylor U",
            "HSC Forth Worth": "UNT-HSC",
            "lamar": "Lamar U",
            "Lamar University": "Lamar U",
            "smu": "SMU",
            "Southern Methodist University": "SMU",
            "tamiu": "TAMIU",
            "TAMU International": "TAMIU",
            "Texas A and M International": "TAMIU",
            "tamu": "TAMU",
            "TAMU Libraries": "TAMU",
            "Texas A&M": "TAMU",
            "Texas A&M University": "TAMU",
            "Texas A&M University ": "TAMU",
            "Texas A and M University": "TAMU",
            "Texas A and  M University": "TAMU",
            "tamug": "TAMU Galveston",
            "Texas State University": "Texas State U",
            "txst": "Texas State U",
            "ttu": "Texas Tech U",
            "TTU": "Texas Tech U",
            "Texas Tech University": "Texas Tech U",
            "unthsc": "UNT-HSC",
            "UNT Health Fort Worth": "UNT-HSC",
            "University of North Texas Health Science Center": "UNT-HSC",
            "University of North Texas Health Science Center at Fort Worth": "UNT-HSC",
            "utswmed": "UT Southwestern",
            "The University of Texas Southwestern Medical Center": "UT Southwestern",
            "utexas": "UT Austin",
            "University of Texas Libraries": "UT Austin",
            "UT Libraries": "UT Austin",
            "University of Texas at Austin": "UT Austin",
            "University of Texas at Austin ": "UT Austin",
            "uthscsa": "UTHSCSA",
            "UT San Antonio Health": "UTHSCSA",
            "UT Health San Antonio": "UTHSCSA",
            "uh": "U Houston",
            "University of Houston": "U Houston"
        },
        "DISPLAY_NAMES": {
            "Baylor U": "Baylor University",
            "Lamar U": "Lamar University",
            "SMU": "Southern Methodist University",
            "TAMU": "Texas A&M University",
            "TAMU Galveston": "Texas A&M University at Galveston",
            "TAMIU": "Texas A&M International University",
            "Texas State U": "Texas State University",
            "Texas Tech U": "Texas Tech University",
            "UNT-HSC": "University of North Texas Health Science Center",
            "U Houston": "University of Houston",
            "UT Austin": "The University of Texas at Austin",
            "UT Southwestern": "The University of Texas Southwestern Medical Center",
            "UTHSCSA": "The University of Texas at San Antonio Health Science Center"
        },
        "MEMBERS": {
            "current_members": [
                "Baylor U",
                "Lamar U",
                "SMU",
                "TAMU",
                "TAMU Galveston",
                "TAMIU",
                "Texas State U",
                "Texas Tech U",
                "U Houston",
                "UT Austin",
                "UT Southwestern",
                "UNT-HSC",
                "UTHSCSA"
                ],
            "current_members_plus": [
                "Baylor U",
                "Lamar U",
                "SMU",
                "TAMU",
                "TAMU Galveston",
                "TAMIU",
                "Texas State U",
                "Texas Tech U",
                "U Houston",
                "UT Austin",
                "UT Southwestern",
                "UNT-HSC",
                "UTHSCSA", 
                "No affiliation"
                ]
        }
    },
    "FORMAT_MAP": {
        "application/dbf": "DBF",
        "application/fits": "FITS",
        "application/font-woff": "WOFF",
        "application/futuresplash": "FutureSplash",
        "application/geo+json": "GeoJSON",
        "application/gzip": "GZIP (compressed archive)",
        "application/javascript": "JavaScript",
        "application/java-serialized-object": "Java Serialized Object",
        "application/java-vm": "Java VM",
        "application/json": "JSON",
        "application/mac-compactpro": "Mac CompactPro",
        "application/mathematica": "Mathematica Notebook",
        "application/matlab-mat": "MATLAB (data)",
        "application/msaccess": "MS Access",
        "application/msword": "MS Word",
        "application/netcdf": "NetCDF",
        "application/octet-stream": "Binary",
        "application/pdf": "PDF",
        "application/postscript": "PostScript",
        "application/prj": "PRJ (shapefile index file)",
        "application/rtf": "Rich Text File",
        "application/sbn": "SBN (shapefile index file)",
        "application/sbx": "SBX (shapefile index file)",
        "application/shp": "Shapefile",
        "application/shx": "SHX (shapefile index file)",
        "application/vnd.antix.game-component": "Antix Game Player",
        "application/vnd.enliven": "Enliven",
        "application/vnd.eszigno3+xml": "ESZ File",
        "application/vnd.fdsn.mseed": "MiniSEED",
        "application/vnd.google-earth.kml+xml": "KML",
        "application/vnd.google-earth.kmz": "KMZ",
        "application/vnd.isac.fcs": "Flow Cytometry File",
        "application/vnd.lotus-approach": "Lotus Approach",
        "application/vnd.lotus-freelance": "Lotus Freelance",
        "application/vnd.ms-excel": "MS Excel",
        "application/vnd.ms-excel.sheet.macroEnabled.12": "MS Excel",
        "application/vnd.ms-fontobject": "MS Font Object",
        "application/vnd.ms-pki.seccat": "MS PKI SecCat",
        "application/vnd.ms-pki.stl": "MS PKI STL",
        "application/vnd.ms-powerpoint": "MS PowerPoint",
        "application/vnd.ms-powerpoint.presentation.macroenabled.12": "MS PowerPoint",
        "application/vnd.novadigm.ext": "Novadigm",
        "application/vnd.oasis.opendocument.spreadsheet": "OpenDocument",
        "application/vnd.openxmlformats-officedocument.presentationml.presentation": "MS PowerPoint",
        "application/vnd.openxmlformats-officedocument.presentationml.template": "MS PowerPoint",
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "MS Excel",
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "MS Word",
        "application/vnd.palm": "Palm",
        "application/vnd.pg.format": "Unknown",
        "application/vnd.realvnc.bed": "RealVNC BED",
        "application/vnd.shana.informed.formtemplate": "Shana FormTemplate",
        "application/vnd.stardivision.writer": "StarDivision Writer",
        "application/vnd.sun.xml.writer.template": "Sun XML Writer Template",
        "application/vnd.tcpdump": "tcpdump",
        "application/vnd.tcpdump.pcap": "tcpdump",
        "application/vnd.wolfram.mathematica.package": "Wolfram Language package",
        "application/vnd.wolfram.nb": "Wolfram Notebook",
        "application/winhlp": "MS WinHelp",
        "application/x-7z-compressed": "7z (compressed archive)",
        "application/xcap-diff+xml": "XCAP Diff",
        "application/x-aist-nt-spm": "AIST-NT SmartSPM",
        "application/x-apple-diskimage": "Apple Disk Image",
        "application/bzip2": "bzip2 (compressed archive)",
        "application/x-bzip2": "bzip2 (compressed archive)",
        "application/x-compressed": "Indeterminate compressed archive",
        "application/x-dbase": "dBASE",
        "application/x-dbf": "DBF",
        "application/x-director": "Director",
        "application/x-docker-file": "Docker File",
        "application/x-dtbresource+xml": "DAISY Data Talking Book",
        "application/x-font-bdf": "BDF Font",
        "application/x-font-linux-psf": "PSF Font",
        "application/x-font-ttf": "TTF Font",
        "application/x-font-woff": "WOFF Font",
        "application/x-graphpad-prism-prism": "GraphPad",
        "application/x-graphpad-prism-pzfx": "GraphPad",
        "application/x-gwyddion-spm": "Gwyddion",
        "application/x-gzip": "GZIP (compressed archive)",
        "application/x-gzip-compressed": "GZIP (compressed archive)",
        "application/x-h5": "HDF5",
        "application/x-hdf5": "HDF5",
        "application/x-hdf": "HDF",
        "application/x-ipynb+json": "Jupyter Notebook",
        "application/x-iwork-numbers-sffnumbers": "iWork Numbers",
        "application/xml": "XML",
        "application/x-msaccess": "MS Access",
        "application/x-msdownload": "MS Download",
        "application/x-ms-shortcut": "MS Shortcut",
        "application/x-netcdf": "NetCDF",
        "application/x-ole-storage": "OLE Storage",
        "application/x-pkcs7-certificates": "Microsoft Certificate",
        "application/x-photoshop": "Adobe Photoshop",
        "application/x-rar": "RAR (compressed archive)",
        "application/x-rar-compressed": "RAR (compressed archive)",
        "application/x-research-info-systems": "RIS",
        "application/x-Research-Info-Systems": "RIS",
        "application/x-rlang-transport": "R Transport",
        "application/x-sas-syntax": "SAS Script",
        "application/x-sas-system": "SAS Script",
        "application/x-sh": "Shell Script",
        "application/x-shar": "Shar archive",
        "application/x-shellscript": "Shell Script",
        "application/x-spss-sav": "SPSS SAV",
        "application/x-spss-syntax": "SPSS Syntax",
        "application/x-stata": "Stata",
        "application/x-stata-13": "Stata",
        "application/x-stata-14": "Stata",
        "application/x-stata-ado": "Stata",
        "application/x-stata-smcl": "Stata (log file)",
        "application/x-stata-syntax": "Stata",
        "application/x-subrip": "SubRip",
        "application/x-tar": "TAR (compressed archive)",
        "application/x-tex": "TeX",
        "application/x-wais-source": "Unknown",
        "application/x-xfig": "XFig",
        "application/x-xz": "XZ (compressed archive)",
        "application/x-yaml": "YAML",
        "application/zip": "ZIP (compressed archive)",
        "application/zipped-shapefile": "Zipped Shapefile",
        "ASCII: ASCII Text (text/plain)": "Plain text",
        "audio/aiff": "AIIF",
        "audio/mpeg": "MPEG Audio",
        "audio/ogg": "Ogg",
        "audio/vnd.dts": "DTS Audio",
        "audio/vnd.wave": "WAV",
        "audio/wav": "WAV",
        "audio/x-m4a": "M4A",
        "audio/x-ms-wma": "Windows Media Audio",
        "audio/x-wave": "WAV",
        "chemical/x-cdxml": "ChemDraw XML",
        "chemical/x-pdb": "Protein Data Bank",
        "image/bmp": "BMP",
        "image/fits": "FITS Image",
        "image/gif": "GIF",
        "image/jpeg": "JPEG",
        "image/jp2": "JPEG",
        "image/nii": "NIfTI",
        "image/pict": "Quickdraw Image",
        "image/png": "PNG",
        "image/raw": "RAW (image)",
        "image/RAW": "RAW (image)",
        "image/svg+xml": "SVG",
        "image/tiff": "TIFF",
        "image/x-mrsid-image": "MrSID Image",
        "image/x-pcx": "PiCture eXchange Image",
        "media types: text/csv": "CSV",
        "message/rfc822": "RFC822 Message",
        "no files": "No files",
        "text/calendar": "Image Cytometry Standard",
        "text/comma-separated-values": "CSV",
        "text/css": "CSS",
        "text/csv": "CSV",
        "text/csv Comma-separated values (CSV)": "CSV",
        "text/html": "HTML",
        "text/javascript": "JavaScript",
        "text/markdown": "Markdown",
        "text/x-objcsrc": "Objective-C",
        "text/plain": "Plain text",
        "text/plain; charset=US-ASCII": "Plain text",
        "text/plain; charset=UTF-8": "Plain text",
        "text/rtf": "Rich Text File",
        "text/tab-separated-values": "TSV",
        "text/tsv": "TSV",
        "text/vnd.dvb.subtitle": "DVB Subtitle",
        "text/vtt": "WebVTT",
        "text/x-c": "C Source",
        "text/x-fixed-field": "Fixed Field",
        "text/x-fortran": "Fortran",
        "text/x-fortranapplication/octet-stream": "Fortran",
        "text/x-makefile": "Makefile",
        "text/x-markdown": "Markdown",
        "text/x-matlab": "MATLAB",
        "text/xml": "XML",
        "text/x-pascal": "Pascal",
        "text/x-python": "Python",
        "text/x-python-script": "Python",
        "text/x-r-markdown": "R Markdown",
        "text/x-r-notebook": "R Notebook",
        "text/x-r-source": "R",
        "text/x-sas-syntax": "SAS Script",
        "text/x-sh": "Shell Script",
        "text/x-shellscript": "Shell Script",
        "text/x-spss-syntax": "SPSS Syntax",
        "text/x-stata-syntax": "Stata",
        "text/x-stata-syntax; charset=US-ASCII": "Stata",
        "type/x-r-syntax": "R Syntax",
        "text/x-tex": "TeX",
        "video/avi": "AVI",
        "video/mp4": "MP4",
        "video/quicktime": "QuickTime",
        "video/x-msvideo": "AVI",
        "Microsoft Access format (application/msaccess)": "MS Access",
        "PDF: Portable Document Format (application/pdf)": "PDF",
        "Powerpoint (application/vnd.ms-powerpoint)": "MS PowerPoint",
        "TAR/GNU Zip (.tar.gz/.tgz) (application/x-gzip)": "TAR.GZ (compressed archive)",
        "XLS: Excel (application/vnd.ms-excel)": "MS Excel",
        "ZIP: PKZIP (application/zip)": "ZIP (compressed archive)"
    },
    "SOFTWARE_FORMATS": {
        "application/javascript": "JavaScript",
        "application/x-sh": "Shell Script",
        "application/x-shellscript": "Shell Script",
        "text/javascript": "JavaScript",
        "text/x-sh": "Shell Script",
        "text/x-shellscript": "Shell Script",
        "application/x-docker-file": "Docker File",
        "text/x-python": "Python",
        "text/x-python-script": "Python",
        "text/x-r-source": "R",
        "text/x-r-markdown": "R Markdown",
        "text/x-r-notebook": "R Notebook",
        "type/x-r-syntax": "R Syntax",
        "application/x-rlang-transport": "R Transport",
        "text/x-c": "C Source",
        "text/x-objcsrc": "Objective-C",
        "text/x-fortran": "Fortran",
        "text/x-fortranapplication/octet-stream": "Fortran",
        "text/x-makefile": "Makefile",
        "text/x-pascal": "Pascal",
        "text/x-tex": "TeX",
        "application/x-tex": "TeX",
        "application/x-spss-sav": "SPSS SAV",
        "application/x-spss-syntax": "SPSS Syntax",
        "text/x-spss-syntax": "SPSS Syntax",
        "text/x-sas-syntax": "SAS Script",
        "application/x-sas-syntax": "SAS Script",
        "application/x-sas-system": "SAS Script",
        "application/x-stata": "Stata",
        "application/x-stata-13": "Stata",
        "application/x-stata-14": "Stata",
        "application/x-stata-ado": "Stata",
        "application/x-stata-syntax": "Stata",
        "text/x-stata-syntax": "Stata",
        "text/x-stata-syntax; charset=US-ASCII": "Stata",
        "application/x-ipynb+json": "Jupyter Notebook",
        "application/mathematica": "Mathematica Notebook",
        "text/x-matlab": "MATLAB"
    },
    "COMPRESSED_FORMATS": {
        "application/bzip2": "bzip2 (compressed archive)",
        "application/gzip": "GZIP (compressed archive)",
        "application/x-gzip-compressed": "GZIP (compressed archive)",
        "application/x-7z-compressed": "7z (compressed archive)",
        "application/x-compressed": "Indeterminate compressed archive",
        "application/x-gzip": "GZIP (compressed archive)",
        "application/x-rar": "RAR (compressed archive)",
        "application/x-tar": "TAR (compressed archive)",
        "application/x-xz": "XZ (compressed archive)",
        "application/zip": "ZIP (compressed archive)",
        "TAR/GNU Zip (.tar.gz/.tgz) (application/x-gzip)": "TAR.GZ (compressed archive)",
        "ZIP: PKZIP (application/zip)": "ZIP (compressed archive)"
    },
    "MICROSOFT_FORMATS": {
        "application/msaccess": "MS Access",
        "application/x-msaccess": "MS Access",
        "application/msword": "MS Word",
        "application/vnd.ms-excel": "MS Excel",
        "application/vnd.ms-excel.sheet.macroEnabled.12": "MS Excel",
        "application/vnd.ms-powerpoint": "MS PowerPoint",
        "application/vnd.ms-powerpoint.presentation.macroenabled.12": "MS PowerPoint",
        "application/vnd.openxmlformats-officedocument.presentationml.presentation": "MS PowerPoint",
        "application/vnd.openxmlformats-officedocument.presentationml.template": "MS PowerPoint",
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "MS Excel",
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "MS Word",
        "Microsoft Access format (application/msaccess)": "MS Access",
        "Powerpoint (application/vnd.ms-powerpoint)": "MS PowerPoint",
        "XLS: Excel (application/vnd.ms-excel)": "MS Excel"
    }
}